<div class="chat">
  <ul class="chat-window" id="chat-window">

  </ul>
  <input type="text" class="chat-input-message" id="message-text">
  <button class="chat-button-send" id="message-send">Отправить</button>
</div>