<div class="login-form">
  <h1 class="login-form-header">Авторизация</h1>
  <p class="login-form-text">Введите пожалуйста свой ник для дальнейшей авторизации</p>
  <input type="text" class="login-form-input" placeholder="Введите свой ник">
  <button class="login-form-button">Войти</button>
</div>