<div id="login" class="login-form hidden" data-role="login-form">
  <h1 class="login-form-header">Авторизация</h1>
  <p class="login-form-text">Введите Ваш никнейм для дальнейшей авторизации</p>
  <input type="text" class="login-form-input" placeholder="Введите никнейм" data-role="login-name-input">
  <button class="login-form-button" data-role="login-submit">Войти</button>
  <div class="login-error" data-role="login-error"></div>
</div>