<div class="message-photo" data-role="user-avatar" data-user="{{from}}"></div>
<div class="message-item-content">
  <div class="message-item-sender">{{from}}</div>
  <div class="message-item-header-time">{{time}}</div>
  <div class="message-item-text">{{text}}</div>
</div>