<div class="message-item">
  <div class="message-photo" data-role="user-avatar" data-user=${sanitize(from)}></div>
  <div class="message-item-content">
    <div class="message-item-header">
      <div class="message-item-header-name">${sanitize(from)}</div>
      <div class="message-item-header-time">${time}</div>
    </div>
    <div class="message-item-text">${sanitize(text)}</div>
  </div>
</div>