@import '~normalize.css';

* {
  outline: none;
}
button {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  background-color: #0E1621;
}

.hidden {
  display: none !important;
}

/* Login form */

.login-form {
  width: 100%;
  max-width: 452px;
  height: 497px;
  background-color: #17212B;
  padding: 40px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-header {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.login-form-text {
  line-height: 18px;
  text-align: center;
  color: #7F91A4;
}

.login-form-input {
  padding: 10px;
  width: 298px;
  margin: 2rem;
  color: #858F98;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #465461;
}

.login-form-button {
  padding: 13px 40px;
  width: fit-content;
  color: #fff;
  background-color: #5188C1;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

.login-error {
  margin-top: 1rem;
  color: red;
}

/* Chat */

.chat {
  display: flex;
  width: 100%;
  color: #fff;
}

.left-side {
  width: 20%;
  min-width: 15rem;
  padding: 1.5rem;
  background-color: #17212B;
}

.user-info {
  display: flex;
  padding-bottom: 1rem;
}

.user-photo img {
  width: 3rem;
  height: 3rem;
}

.right-side {
  width: 100%;
  height: 100vh;
  background-color: #0E1621;
  position: relative;
}

.chat-header {
  max-height: 3.75rem;
  padding: .8rem 0 .5rem 1rem;
  border-left: 2px solid #0E1621;
  background-color: #17212B;
}

.message-container {
  padding: 1rem;
}

.message-item-content {
  background-color: #182633;
  width: fit-content;
  padding: .5rem 4rem .5rem 1rem;
  border-radius: 15px;
}

.input-container {
  background-color: #17212B;
  border-left: 2px solid #0E1621;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.message-input {
  background-color: transparent;
  padding: 1.5rem .75rem 1rem;
  border: none;
  color: inherit;
  width: 90%;
}

.send-button {
  padding: .4rem 1.25rem;
  margin-right: .6rem;
  background-color: #5387C1;
  border-radius: 5px;
  border: none;
  color: inherit;
  height: fit-content;
}