<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <main class="container">
    {{> './templates/chat.hbs'}}
  </main>
</body>
</html>